@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-style: normal;
    src: url(/assets/fonts/PlusJakartaSans-Regular.ttf) format("ttf");
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/Inter-Regular.ttf) format("ttf");
}

body,
button {
    font-family: "Plus Jakarta Sans";
    padding: 1rem;
}

.card__text,
.card__type {
    font-family: 'Inter', sans-serif;
}