<section class="catalogue-card">
  <div class="card__header">
    <div class="card__header-text">
      <h2 class="card__text">CR - V</h2>
      <p class="card__type">SUV</p>
    </div>
    <img src="/assets/images/heart.svg" alt="" class="card__like" />
  </div>
  <div class="card__details">
    <div class="card__image">
      <div class="card__image-pic">
        <img src="/assets/images/car.png" alt="" />
      </div>
      <div class="card__image-bottom"></div>
    </div>
    <div class="card__specification">
      <div class="card__spes-items">
        <img src="./assets/images/vuesax-bold-gas-station.svg" alt="" />
        <p>80L</p>
      </div>
      <div class="card__spes-items">
        <img src="./assets/images/car.svg" alt="" />
        <p>Manual</p>
      </div>
      <div class="card__spes-items">
        <img src="./assets/images/vuesax-bold-profile-2-user.svg" alt="" />
        <p>6 People</p>
      </div>
    </div>
  </div>
  <div class="card__rent">
    <div class="card__rent-price">
      <div class="price">
        <p>$<span class="car__price">80.00</span><span>/</span></p>
      </div>
      <p class="price-day">day</p>
    </div>
    <button class="card__rent-btn btn btn-large--primary">Rent Now</button>
  </div>
</section>
